{% extends 'baseadmin.html.twig' %}

{% block title %} consulter conge {% endblock %}

{% block body %}
    {{ parent() }}

    <h1> conge </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">conge id  </th>
            <th scope="col">date de debut </th>
            <th scope="col"> date de fin </th>
            <th scope="col"> nbjour </th>

            <th scope="col"> state  </th>
            <th scope="col"> employe id  </th>
            <th scope="col" colspan="3"> actions  </th>



        </tr>
        </thead>
        <tbody>


        {%  for conge in conges %}
  {% if conge.state=='invalide' %}
            <tr class="table table-danger">
{% endif %}
            {% if conge.state=='no check' %}
                <tr class="table-dark">
            {% endif %}

            {% if conge.state=='valide' %}
                <tr class="table-info">
            {% endif %}

            <th scope="row"> {{ conge.id }} </th>
            <td>  {{ conge.datedebut|date("d/m/Y") }} </td>
            <td> {{ conge.datefin|date("d/m/Y") }} </td>
            <td> {{ conge.nbjour }} </td>

            <td> {{ conge.state }} </td>
            <td> {{ conge.employe.id }} </td>
         <td>    <a href ="{{ path ('mettreajourconge',{'id':conge.id}) }}"
            > modifier conge</a>
         </td>
            <td>    <a href ="{{ path ('supprimerconge',{'id':conge.id}) }}"
                > supprimer conge</a>
            </td>
            {% if conge.state=='no check' %}
            <td>            <a href ="{{ path ('validerconge',{'id':conge.id}) }}">valider conger</a> </td>
{% else  %}
                <td> verifié </td>
      {% endif %}
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a href ="{{ path ('ajouterconge') }}"
    > ajouter conge</a>

    <h1> employes ayant des conges </h1>

    <table class="table table-striped">
    <thead>
    <th scope="col"> conge id </th>
    <th scope="col"> employe id </th>

    <th scope="col">nom</th>
    <th scope="col">prenom</th>
    <th scope="col">quota</th>
    <th scope="col">salaire</th>

    </thead>
        <tbody>

        {%  for conge in conges %}
            {% if conge.state=='invalide' %}
                <tr class="table table-danger">
            {% endif %}
            {% if conge.state=='no check' %}
                <tr class="table-dark">
            {% endif %}

            {% if conge.state=='valide' %}
                <tr class="table-info">
            {% endif %}
                <td> {{ conge.id }} </td>

        <td> {{ conge.employe.id }} </td>


                <td> {{ conge.employe.nom }} </td>
        <td> {{ conge.employe.prenom }} </td>
        <td> {{ conge.employe.quota }} </td>
        <td> {{ conge.employe.salaire }} </td>

    </tr>

        {% endfor %}
</tbody>
</table>

{% endblock %}
