{% extends 'baseadmin.html.twig' %}

{% block title %}  valider conge {% endblock %}

{% block body %}
    {{ parent() }}
    {% if conge.user.administrateur!=null %}
    {% if conge.user.administrateur.id==  administrateur.id %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form(form) }}
{% else %}
    <h1> vous n'avez pas le droit de toucher les conges de {{ conge.user.nom }}
        {{ conge.user.prenom }}
    </h1>
  <a href="{{path('consultercongedatatable')}}"> back to list </a>

{% endif %}
        {% else %}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form(form) }}

    {% endif %}
{% endblock %}
