{% extends 'base.html.twig' %}

{% block title %}SuiviConge index{% endblock %}

{% block body %}
    <h1>SuiviConge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>Mois</th>
                <th>Quota</th>
                <th>Nbjourpris</th>
                <th>Nbjourrestant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi_conge in suivi_conges %}
            <tr>
                <td>{{ suivi_conge.id }}</td>
                <td>{{ suivi_conge.annee }}</td>
                <td>{{ suivi_conge.mois }}</td>
                <td>{{ suivi_conge.quota }}</td>
                <td>{{ suivi_conge.nbjourpris }}</td>
                <td>{{ suivi_conge.nbjourrestant }}</td>
                <td>
                    <a href="{{ path('app_suivi_conge_show', {'id': suivi_conge.id}) }}">show</a>
                    <a href="{{ path('app_suivi_conge_edit', {'id': suivi_conge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_suivi_conge_new') }}">Create new</a>
{% endblock %}
