{% extends 'base.html.twig' %}

{% block title %}Administrateur index{% endblock %}

{% block body %}
    <h1>Administrateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Salaire</th>
                <th>Role</th>
                <th> login </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrateur in administrateurs %}
            <tr>
                <td>{{ administrateur.id }}</td>
                <td>{{ administrateur.nom }}</td>
                <td>{{ administrateur.prenom }}</td>
                <td>{{ administrateur.salaire }}</td>
                <td>{{ administrateur.role ? administrateur.role|json_encode : '' }}</td>
                <td>{{ administrateur.login.nomutilisateur }}</td>

                <td>
                    <a href="{{ path('app_administrateur_show', {'id': administrateur.id}) }}">show</a>
                    <a href="{{ path('app_administrateur_edit', {'id': administrateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_administrateur_new') }}">Create new</a>
{% endblock %}
