
{% block title %} consulter employe {% endblock %}
    {% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">quota</th>
            <th scope="col">salaire</th>
            <th scope="col" colspan="2"> actions  </th>

        </tr>
        </thead>
        <tbody>


    <tr>
        <th scope="row"> {{ employe.id }} </th>
        <td>  {{ employe.nom }} </td>
        <td> {{ employe.prenom }} </td>
        <td> {{ employe.quota }} </td>
        <td> {{ employe.salaire }} </td>
        <td>    <a href ="{{ path ('mettreajouremploye',{'id':employe.id}) }}"
            > modifier employé</a>
        </td>
        <td>    <a href ="{{ path ('supprimeremploye',{'id':employe.id}) }}"
            > supprimer employé</a>
        </td>

    </tr>

        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">idcontrat</th>
            <th scope="col">datedebut</th>
            <th scope="col">datefin</th>
            <th scope="col">datearret</th>
            <th scope="col">typedecontrat</th>
            <th scope="col" colspan="2"> quotaparmoisaccorde  </th>
            <th scope="col" colspan="2"> quotarestant  </th>

        </tr>
        </thead>
        <tbody>

 {% for contrat in employe.contrat %}
        <tr>
            <th scope="row"> {{ contrat.id }} </th>
            <td>  {{ contrat.datedebut|date("d/m/Y") }} </td>
            <td> {{ contrat.datefin|date("d/m/Y") }} </td>
            <td> {{ contrat.datefin|date("d/m/Y") }} </td>
            <td>
                {{ contrat.quotaparmoisaccorde}}
            </td>
            <td>
                {{ contrat.quotarestant }}
            </td>

        </tr>
{% endfor %}
        </tbody>
    </table>

    <a href ="{{ path ('ajouteremploye') }}"
    > ajouter employe</a>

{% endblock %}
