
{% block title %} consulter employe {% endblock %}
    {% extends 'baseadmin.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if employeparnometprenom is defined %}
    {{ form(form) }}
    {%   if  employeparnometprenom !=null   %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>

                <th  scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">quota</th>
                <th scope="col">salaire</th>
                <th scope="col"> idadminconcerne </th>
                <th scope="col"> nomadminconcerne </th>

            </tr>
            </thead>
            <tbody>

            {%  for employe in employeparnometprenom %}

                <tr>
                    <th scope="row"> {{ employe.id }} </th>
                   <td>  {{ employe.nom }} </td>
                    <td> {{ employe.prenom }} </td>
                    <td> {{ employe.quota }} </td>
                    <td> {{ employe.salaire }} </td>
                    {% if employe.admin!=NULL %}
                    <td>   {{ employe.admin.id }} </td>
                    <td>   {{ employe.admin.nom }} </td>
                    {% else %}
                        <td>   pas d'admin </td>
                        <td>   pas d'admin </td>

                    {% endif %}
                </tr>
            {% endfor %}
            {{ knp_pagination_render(employeparnometprenom) }}

            </tbody>
        </table>
    {% endif %}
       {% endif %}

    {%   if  employeparnometprenom is not defined or employeparnometprenom ==null   %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id

            </th>

            <th  scope="col">

                    nom
                <a href="{{ path('trieremploye',{'critere':'nom','sens':'ASC'}) }}">
                    <img src="{{ asset("Images/haut.png") }}" WIDTH="50" HEIGHT="70" /></a>
                <a href="{{ path('trieremploye',{'critere':'nom','sens':'DESC'}) }}">

                    <img src="{{ asset("Images/bas.png") }}" WIDTH="50" HEIGHT="70"/></a>

            </th>

            <th scope="col">
                    prenom
                <a href="{{ path('trieremploye',{'critere':'prenom','sens':'ASC'}) }}">
                    <img src="{{ asset("Images/haut.png") }}" WIDTH="50" HEIGHT="70" /></a>
                <a href="{{ path('trieremploye',{'critere':'prenom','sens':'DESC'}) }}">

                    <img src="{{ asset("Images/bas.png") }}" WIDTH="50" HEIGHT="70"/></a>

            </th>
            <th scope="col">

                    quota
                <a href="{{ path('trieremploye',{'critere':'quota','sens':'ASC'}) }}">
                    <img src="{{ asset("Images/haut.png") }}" WIDTH="50" HEIGHT="70" /></a>
                <a href="{{ path('trieremploye',{'critere':'quota','sens':'DESC'}) }}">

                    <img src="{{ asset("Images/bas.png") }}" WIDTH="50" HEIGHT="70"/></a>

            </th>
            <th scope="col">
                    salaire
                <a href="{{ path('trieremploye',{'critere':'salaire','sens':'ASC'}) }}">
                    <img src="{{ asset("Images/haut.png") }}" WIDTH="50" HEIGHT="70" /></a>
                <a href="{{ path('trieremploye',{'critere':'salaire','sens':'DESC'}) }}">

                    <img src="{{ asset("Images/bas.png") }}" WIDTH="50" HEIGHT="70"/></a>

            </th>
            <th scope="col"> idadminconcerne </th>
            <th scope="col"> nomadminconcerne </th>

        </tr>
        </thead>
        <tbody>

        {%  for employe in employes %}

    <tr>
        <th scope="row"> {{ employe.id }} </th>
        <td>  {{ employe.nom }} </td>
        <td> {{ employe.prenom }} </td>
        <td> {{ employe.quota }} </td>
        <td> {{ employe.salaire }} </td>
   {% if employe.administrateur!=NULL %}
        <td>   {{ employe.administrateur.id }} </td>
        <td>   {{ employe.administrateur.nom }} </td>
       {% else %}
           <td>   pas d'admin </td>
           <td>  pas d'admin  </td>

   {%  endif %}

    </tr>
{% endfor %}
        {{ knp_pagination_render(employes) }}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">idcontrat</th>
            <th scope="col">datedebut</th>
            <th scope="col">datefin</th>
            <th scope="col">datearret</th>
            <th scope="col">typedecontrat</th>
            <th scope="col" colspan="2"> quotaparmoisaccorde  </th>
            <th scope="col" colspan="2"> quotarestant  </th>

        </tr>
        </thead>
        <tbody>
        {%  for employe in employes %}

        {% for contrat in employe.contrat %}
            <tr>
                <th scope="row"> {{ contrat.id }} </th>
                <td>  {{ contrat.datedebut|date("d/m/Y") }} </td>
                <td> {{ contrat.datefin|date("d/m/Y") }} </td>
                <td> {{ contrat.datefin|date("d/m/Y") }} </td>
                <td>
                    {{ contrat.quotaparmoisaccorde}}
                </td>
                <td>
                    {{ contrat.quotarestant }}
                </td>

            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

   {% endif %}

{% endblock %}
