{% extends 'base.html.twig' %}

{% block title %}New Contrat{% endblock %}

{% block body %}
    <h1>Create new Contrat</h1>
    {% if admin=='true' %}
        {{ include('baseadmin.html.twig') }}
    {% else %}
        {{ include('base.html.twig') }}
    {% endif %}

    {% if error is defined %}
        <b>    <u>    {{ error }} </u> </b>
    {% endif %}

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('consultercontratdatatable') }}">back to list</a>
{% endblock %}
